.header{
    height: var(--header-height);
    background: linear-gradient(-180deg,#f53d2d,#f63);
}
.navbar{
    display: flex;
    justify-content: space-between;
}
.navbar__list{
    padding-left: 0px;
    margin: 6px 0 4px 0;
    display: flex;
}
.navbar__list-item{
    /* display: inline-block; */
    font-size: 1.3rem;
    margin: 0 8px;
    color: var(--white-color);
    font-weight: 400;
    position: relative;
    text-decoration: none;
    list-style: none;
}

.navbar__list-item a{
    text-decoration: none;
    color: var(--white-color);
}
.navbar__list-item-log{
    font-weight: 500;
    display: none;
    display: block;
}

.navbar__list-item-user{
    display: none;
}

.navbar__list-item-user-form{
    position: absolute;
    top: 120%;
    right: 0;
    display: none;
    background-color: var(--white-color);
    color: var(--black-color);
    width: 150px;
    border-radius: 3px;
    z-index: 1;
    list-style: none;
    padding: 0;
    box-shadow: 0 0 3px var(--border-color);
    transform-origin: calc(100% - 104px) top;
    animation: nav-notify-grow ease 0.3s;
}
.navbar__list-item-user-form::before{
    display: block;
    content: "";
    position: absolute;
    border-width: 4.4px 10px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    top: -8.8px;
    right: 76px;
}

.navbar__list-item-user::after{
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 20px;
    /* background-color; */
    bottom: -6px;
}
.navbar__list-item-user-form li{
    height: 38px;
    line-height: 38px;
    font-size: 1.4rem;
    font-weight: 400;
    color: #895959;
    padding-left: 12px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.navbar__list-item-user-form li:hover{
    background-color: #fafafa;
    color: #00bfa5 ;
}
.navbar__list-item-user-wrap{
    display: flex;
    align-items: center;
}
.navbar__list-item-user:hover .navbar__list-item-user-form{
    display: block;
}
.navbar__list-item-user-img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 5px 0 0;
}


.navbar__list-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    height: 15px;
    border-right: 2px #f86d5c solid;

    top: 22%;
    right: -9px;
}
.navbar__icon-link{
    /* font-size: 1.5rem; */
    margin-left: 8px;
}
.navbar__list-item:hover,
.navbar__icon-link:hover,
.navbar__list-item-link:hover
{
  color: rgba(255,255,255,0.7);
  cursor: pointer;
}
.navbar__list-item-nohover{
    cursor: text ;
    color: var(--white-color);
}

/* header__qr */
.header__qr{
    width: 176px;
    padding: 4px;
    background-color: var(--white-color);
    position: absolute;
    top:120%;
    left: 0;
    border-radius: 3px;
    display: none;
    animation: fadeIn ease .4s;
    
}
.header__qr::before{
    left: 0;
    display: block;
    content: "";
    width: 100%;
    height: 20px;
    position: absolute;
    top: -14px;
}
.header__qr--img{
    width: 100%;

}

.header__qr--app{
    display: flex;
    justify-content: space-between;
}
.header__qr-link:nth-child(1){
    margin-left: 11px;
}
.header__qr-link:nth-child(2){
    margin-right: 10px;
}
.header__qr-link{

}

.header__qr--download{
    height: 1.5rem;
}

.navbar__list-item-has-qr:hover .header__qr{
    display: block;
}


/* notifycation */
.navbar__notify{
    position: absolute;
    width: 400px;
    background-color: var(--white-color);
    top: 120%;
    right: 0;
    border-radius: 3px;
    /* border: 1px solid var(--border-color); */
    box-shadow: 0 0 3px var(--border-color);
    transform-origin: calc(100% - 20px) top;
    display: none;
    animation: nav-notify-grow ease-in 0.3s ;
    will-change: opacity, transform;
    z-index: 2;
}
.navbar__notify::before{
    display: block;
    content: "";
    position: absolute;
    border-width:10px 14px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent; 
    right: 14px;
    top: -17px;    
}
.navbar__notify::after{
    display: block;
    content: "";
    position: absolute;
    width: 88px;
    height: 20px;
    right: 0;
    top:-14px;
}

.navbar__notify-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 310px;
}

.navbar__notify-img{
    width: 100px;

}

.navbar__notify-des{
    color: var(--black-color);
    font-size: 1.4rem;
    margin-top: 20px;
    font-weight: 500;

}

.navbar__notify-footer{
    display: flex;
    height: 40px;
     
}

.navbar__notify-btn{
    color: var(--black-color);
    width: 50%;
    background-color: #efefef;
    line-height: 40px;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
}
.navbar__notify-btn:hover{
    background-color: #e8e8e8;
    color: #f6412e;
}
.navbar__list-item-has-notify:hover .navbar__notify{
    display: block;
}

/* modal */
.modal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;  
    /* display: block; */
}

.modal__overlay{
    position: relative;
    display: flex;
    background-color: rgba(0,0,0,0.4);
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.modal__body{
    --growth-from: 0.7;
    --growth-to :1;
    background-color: var(--white-color);
    z-index: 1;
    overflow: hidden;
    border-radius: 3px;
    animation: growth linear 0.2s;
}
.modal__container{
    
}

.js-authur__form-login{
    display: none;
}
.js-authur__form-register{
    display: none;
}
.open{
    display: block;
}
.authur__form--container{
    width: 500px;
    padding: 0 32px;
}


.authur__form--header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 22px 12px;
    padding: 0;
}
.authur__form--heading{
    font-size: 1.8rem;
    font-weight: 500;
}
.authur__form--switch{
    font-size: 1.5rem;
    color: #f6412e;
    cursor: pointer;
}

.authur__form--input{
    width: 100%;
    height: 40px;
    outline: none;
    text-decoration: none;
    border: 1px solid var(--border-color);
    padding: 0 8px;
    margin-top: 12px;
    font-size: 14px;
}

.authur__form--extra-text{
    margin: 14px 12px;
    text-align: center;
    line-height: 2rem;
    font-size: 12px;
}

.authur__form--extra--link{
    color: #f6412e;
    text-decoration: none;
}

.authur__form--btn{
    margin-top: 80px;
    margin-bottom: 22px;
    display: flex;
    justify-content: flex-end;
}

.btn{
    text-decoration: none;
    min-width: 120px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    cursor: pointer;
    border-radius: 3px;
    background-color: var(--white-color);
    line-height: 30px;
}
.authur__form--btn .btn{
    text-transform: uppercase;
}
.btn-size-s{
    padding: 0 8px;
    font-size: 1.3rem;
}
.btn--space{
    margin-right: 8px;
}
.btn__normal{
    background-color: var(--white-color);
}
.btn__primary{
    background-color: #f6412e;
    color: var(--white-color);
}
.btn__normal:hover{
    background-color: var(--border-color);
    color: var(--black-color);
}
.authur__form--social{
    display: flex;
    background-color: #f1eded;
    padding: 12px 26px;
    justify-content: space-between;
}
.authur__form--social-icon{
    padding: 0 4px;
    font-size: 1.8rem;
}
.authur__form--social-text{
    margin: 0 32px;
}
.authur__form--social-face{
    background-color: #166fe5;
    color: var(--white-color);
}
.authur__form--social-google{
    background-color: var(--white-color);
    color: var(--black-color);
}

/* login */
.authur__form--extra-help{
    display: flex;
    margin-top: 16px;
    justify-content: flex-end;
    line-height: 16px;
}
.authur__form--extra-help-link{
    font-size: 1.4rem;
    text-decoration: none;
    letter-spacing: -0.8px;
}
.authur__form--extra-help-separate{
    height: 16px;
    margin: 0 16px;
    border-left: 1px solid #d9d9d9;
    /* margin-top: 2px; */
}
.authur__form--extra-help-link:nth-child(1){
    color: #f6412e;
}
.authur__form--extra-help-link:nth-child(3){
    color: #b1adad;
}


/* header__with-search */

.header-with-search{
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    padding: 10px 8px 0px 8px;
}
.header__container{
    flex: 1;
}

.header__logo{
    width: 200px;
    text-decoration: none;
   
}
.header__logo-img{
    width: 136px;
    margin-bottom: 12px;
}
.header__search{
    /* flex: 1; */
    height: 40px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    border-radius: 3px;
}
.header__cart{
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 4px;
}
.header__cart-icon{
    color: var(--white-color);
    font-size: 20px;
}
.header__search-input-wrap{
    width: 100%;    
    height: 100%;
    flex: 1;
    position: relative;
}

.header__search-input{
    width: 100%;    
    height: 100%;
    font-size: 1.4rem;
    letter-spacing: -0.9px;
    padding: 0 16px;
    border: none;
    outline: none;
    border-radius: 3px;
}
.header__search-select{
    border-left: 1px solid var(--border-color);
    padding-left: 16px;
    cursor: pointer;
    position: relative;
}

.header__search-select:hover .header__search-select-option{
    display: block;
}
.header__search-select-label{
    font-size: 1.4rem;
    letter-spacing: -0.7px;
    /* position: relative; */
}
.header__search-select-icon{
    margin: 0 12px 0 6px;
}

.header__search-btn{
    background-color: #fb5533;
    height: 36px;
    border: none;
    margin-right: 3px;
    border-radius: 3px;
    /* padding: 0px 16px; */
    width: 60px;
}
.header__search-btn:hover{
    cursor: pointer;
    opacity: 0.9;
}

.header__search-btn-icon{
    font-size: 1.4rem;
    color: var(--white-color);
}
.header__search-select-option{
    position: absolute;
    list-style: none;
    min-width: 115px;
    /* background-color: #166fe5; */
    top: 120%;
    right: 0;   
    box-shadow: 0 0 4px var(--border-color);
    /* background-color: var(--white-color); */
    padding-left: 0;
    display: none;
    animation: fadeIn ease 0.3s;
    border-radius: 3px;
}
.header__search-select-option::after{
    display: block;
    content: "";
    position: absolute;
    top: -15px;
    width: 100%;
    height: 25px;
    /* background-color: #f6412e; */
}

.header__search-select-item{
    padding: 6px 0 6px 8px;
    /* display: block; */
    font-size: 1.4rem;
    background-color: #fff;
    
}
.header__search-select-item:hover{
    /* background-color: rgba(255,255,255,0.7); */
    background-color: var(--border-color);
    color: var(--primary-color);
}
   
.header__search-select-item span{
    letter-spacing: -0.8px;
}

.header__search-select-item i{
    margin: 0px 8px 0 18px;
    font-size: 1.2rem;
    display: none;
}
.header__search-select-item:first-child{
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.header__search-select-item:last-child{
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
    
.header__search-select-item--active i{
    display: inline-block;
}

.sub-list{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    margin-top: 6px;
    
}
.sub-list li{
    /* display: block; */
    line-height: 0;
    padding: 8px 24px 0 0;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 300;
}
.header__search-history{
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    box-shadow: 0 0 3px var(--border-color);
    border-radius: 3px;
    overflow: hidden;
    display: none;
    z-index: 1;
}
.header__search-input:focus ~.header__search-history{
    display: block;
}



.header__search-history-header{
    /* margin-left: 8px; */
    color: var(--border-color);
    font-size: 1.4rem;
    font-weight: 300;
    margin: 8px 0 8px 8px;
}
.header__search-history-list{
    list-style: none; 
    padding: 0;
    margin: 6px 0 0;

}
.header__search-history-item{
    height: 34px;
    padding: 0;
    color: var(--black-color);
    font-size: 1.4rem;
    line-height: 34px;
}
.header__search-history-item:hover{
    background-color: #f7f6f6;
}
.header__search-history-item a{
    text-decoration: none;
    color: var(--black-color);
    padding-left: 8px;

}

/* header-cart */
.header_cart-container{
    position: relative;
    display: inline-block;
    padding: 0 8px;
}

.header_cart-container:hover .header_cart-notify{
    display: block;
}
.header_cart-notify::before {
    content: "";
    display: block;
    position: absolute;
    border-width: 15px 16px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    top: -25px;
    right: 7px;

}


.header_cart-notify{
    position: absolute;
    width: 400px;
    background-color: var(--white-color);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    top: calc(100% + 10px);
    right: -5px;
    border-radius: 3px;
    transform-origin: calc(100% - 20px) top;
    animation: nav-notify-grow ease 0.3s ;
    display: none;
    cursor: default;
    z-index: 2;
}
.header_cart-notify-not-item{
    padding: 60px 0;
    /* text-align: center; */

}
.header_cart-notify-not-item .header_cart-notify-img,
.header_cart-notify-not-item .header_cart-notify-text{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.header_cart-notify-img{
    width: 23%;
    display: none;
}
.header_cart-notify-text{
    font-size: 1.4rem;
    text-align: center;
    display: none;
    margin-top: 8px;
}

/* quanlity */
.header__cart-quatility{
    position: absolute;
    padding: 1px 7px;
    border-radius: 50.2%;
    color: var(--primary-color);
    background-color: var(--white-color);
    top: -13px;
    right: -5px;
    font-size: 1.2rem;
    line-height: 1.2rem;
    border: 2px solid #ee4d2d;
}

/* header-cart-has-item */

.header__cart-heading{
    font-size: 1.5rem;
    color: #ccc;
    font-weight: 400;
    margin: 10px 0 10px 12px;
    font-weight: 300;
}

.header__cart-list{
    padding-left: 0;
    margin: 0;
    height: 56vh;
    overflow-y: auto;
    display: inline;
}

.header__cart-item{
    display: flex;
    align-items: center;
    padding: 4px 0; 
}

.header__cart-item:hover{
    background-color: #fafafa;
}
.header__cart-item-img{
    width: 50px;
    margin: 5px;
}

.header__cart-item-info{
    width: 100%;
    /* text-align: center; */
    margin-right: 12px;
}

.header__cart-item-heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 3.8rem;
    /* margin-bottom: 12px; */
    /* padding-bottom: 12px; */
}

.header__cart-item-name{
    font-size: 1.4rem;
    margin: 0;
    flex: 1;
    line-height: 1.9rem;
    max-height: 3.8rem;
    padding-right: 10px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    padding-bottom: 12px;
}

.header__cart-item-wrap{

}

.header__cart-item-price{
    font-size: 1.4rem;
    color: var(--primary-color);
}

.header__cart-item-multiply{
    font-size: 1rem;
    margin: 0 4px;  
}

.header__cart-item-quanlity{
    font-size: 1.2rem;
}

.header__cart-item-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: auto; */
}

.header__cart-item-classify{
    font-size: 1.2rem;
    color: #b1adad;
    font-weight: 300;
}

.header__cart-item-delete{
    font-size: 1.4rem;
} 

.header__cart-item-delete:hover{
    color: var(--primary-color);
    cursor: pointer;
}

.header__cart-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: #fffcfc
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.header__cart-footer-added{
    margin-left: 12px;
    font-size: 1.2rem;
}

.header__cart-footer-btn{
    margin-right: 12px;
    cursor: pointer;
}

.header__cart-footer-btn:hover{
    opacity: 0.8;
}

/* container */
.container{
    background-color: #f5f5f5;
    padding-bottom: 80px;
}
.category{
    margin-left: 0;
    border-radius: 3px;
    background-color: var(--white-color);
    margin-bottom: 8px;
}
.category__heading{
    font-size: 1.6rem;
    padding: 12px 16px;
    border-bottom: 1px solid #ccc;
    margin-top: 0;
}
.category__heading i{
    margin-right: 4px;
}

.category__list{
    padding: 0 0 8px 0;
    list-style: none;
    text-decoration: none;
    margin-left: 10px;
}
.category__item{
    
    
}

.category__item-active .category__item-link::before{
    display: block;
    content: "";
    position: absolute;
    border-width: 4px;
    border-color: transparent transparent transparent var(--primary-color);
    border-style: solid;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
}

.category__item-link{
    text-decoration: none;
    color: var(--black-color);
    font-size: 1.3rem;
    position: relative;
    display: block;
    transition: right linear 0.1s;
    right: 0;
    padding: 4px 20px;
}
.category__item-link:hover{
    color: var(--primary-color);
    cursor: pointer;
    right: -4px; 
}

/* home__filter */

.home-filter{
    display: flex;
    padding: 12px 20px;
    background-color: rgba(0,0,0,0.04);
    width: 100%;
    align-items: center;
}

.home-filter__label{
    margin-right: 12px;
    color: var(--text-color);
    font-size: 1.4rem;
}
.home-filter-btn{
    margin-right: 10px;
    min-width: 90px;
}

.home-filter__select{
    height: 30px;
    min-width: 200px;
    padding: 0 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white-color);
    text-align: 30px;
    position: relative;
    border-radius: 3px;
}

.home-filter__select:hover .home-filter__select-list{
    display: block;
}

.home-filter__select-label{
    font-size: 1.4rem;
}

.home-filter__select i{
    font-size: 1.4rem;
}

.home-filter__select-list{
    position: absolute;
    list-style: none;
    padding: 8px 8px;
    top: 21px;
    right: 0;
    background-color: var(--white-color);
    width: 100%;
    display: none;
    border-radius: 3px;
    z-index: 1;
    box-shadow: 0 0 1px var(--border-color);
}

.home-filter__select-item{
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 4px 0;
}
.home-filter__select-item:hover{
    color: var(--primary-color);
    cursor: pointer;
}

.home-filter__page{
    margin-left: auto;
    display: flex;
    align-items: center;
}
.home-filter__page-num{
    font-size: 1.4rem;
    margin-right: 20px;
    line-height: 1px;
}
.home-filter__paginate-current{
    color: var(--primary-color);
}
.home-filter__page-btn{
    height: 34px;
    width: 34px;
    background-color: white;
    text-align: center;
    line-height: 36px;
    font-size: 1.4rem;
    display: inline-block;
    margin-left: 0;
    flex: 1;
    color: var(--border-color);
    text-decoration: none;
}
.home-filter__page-control{
    display: flex;
    border-radius: 3px;
    overflow: hidden;
    border: 1px solid var(--border-color);

}
.home-filter__page-btn-right{
    border-left: 2px solid var(--border-color);
    background-color: #ededed;
}
.home-filter__page-btn-right i{
    color: var(--black-color);
}
.home-filter__page-btn-right:hover{
    background-color: var(--white-color);
}

/* home__product */
.home-product{
    margin-bottom: 10px;
}
.home-product-item{
    margin-top: 8px;
    background-color: var(--white-color);
    cursor: pointer;
    position: relative;
    border-radius: 3px;
    transition: top linear   0.1s;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    top: 0;
}

.home-product-item:hover{
    /* transform: translateY(-1px); */
    top: -2px;
    box-shadow: 0 1px 20px rgba(0,0,0,0.05);
}

.home-product-item-img{
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.home-product-item-name{
    font-size: 1.3rem;
    line-height: 18px;
    height: 3.6rem;
    margin: 10px 10px 6px 10px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical ;
    -webkit-line-clamp: 2;
}

.home-product-item-price{
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    padding-top: 4px;
}

.home-product-item-price-old{
    text-decoration: line-through;
    font-size: 1.2em;
    color: #9b9b9b;
    margin-left: 10px;
}

.home-product-item-price-current{
    font-size: 1.4rem;
    margin-left: 10px;
    color: var(--primary-color);
}

.home-product-item-action{
    display: flex;
    justify-content: space-between;
    padding: 1px 10px;
    align-items: center;
    
}

.home-product-item-action-like i{
    font-size: 1.3rem;
}
.home-product-item-action-liked .home-product-item-action-like-fill{
    display: inline-block;
}
.home-product-item-action-liked .home-product-item-action-like-empty{
    display: none;
}
i.home-product-item-action-like-fill{
    color: red;
    display: none;
}


.home-product-item-action-rating{
    transform-origin: right;
    transform: scale(0.7);
    color: #ffce3d;
    margin-left: auto;
}

.home-product-item-sold{
    margin-left: 5px;
    font-size: 1.2rem;
    font-weight: 300;
}

.home-product-item-orgin{
    display: flex;
    justify-content: space-between;
    padding: 0 10px 10px;
    font-size: 1.15rem;
    color: #aeaeae;
}


.home-product-item-orgin-brand{

}

.home-product-item-orgin-place{

}

.home-product-item-favourite{
    position: absolute;
    top: 10px;
    left: -4px;
    color: #fb5533;
    background-color: currentColor;
    padding:0 4px;
    line-height: 1.4rem;
    font-size: 1.1rem;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;

}

.home-product-item-favourite::after{
    position: absolute;
    display: block;
    content: "";
    border-left: 3px solid transparent;
    border-top: 3px solid currentColor;
    left: 0px;
    bottom: -3px;
    filter: brightness(40%);
}

.home-product-item-favourite i{
    color: var(--white-color);
    font-size: 0.9rem;
}

.home-product-item-favourite span{
    color: var(--white-color);
    position: relative;
    top: 0.5px;
}


.home-product-item-saleoff{
    position: absolute;
    top: 0;
    right: 0;
    width: 36px;
    height: 32  px;
    background-color: rgb(255, 216, 57, 0.8);
    border-top-right-radius: 3px;
    text-align: center;
}
.home-product-item-saleoff::after{
    position: absolute;
    display: block;
    content: "";
    bottom: -4px;
    border-width: 0 18px 4px;
    border-style: solid;
    right: 0;
    border-color: transparent rgb(255, 216, 57, 0.8) transparent rgb(255, 216, 57, 0.8);
}

.home-product-item-saleoff-percent{
    color: var(--primary-color);
    font-size: 1.1rem;
    line-height: 0;
}

.home-product-item-saleoff-label{
    font-size: 1.2rem;
    color: var(--white-color);
    line-height: 0;
    font-weight: 600;
}   

/* pagination */
.pagination{
    display: flex;
    text-decoration: none;
    justify-content: center;
    list-style: none;
    margin: 40px 0 0px;
    align-items: center;
}
.pagination-item{
    margin: 0 15px;
}

.pagination-item__link{
    --height: 3rem;
    text-decoration: none;
    font-size: 1.8rem ;
    color: var(--text-color);
    font-weight: 300;
    line-height: var(--height);
    height: var(--height);
    min-width: 30px;
    display: block;
    text-align: center;
}

.pagination-item__icon{
    font-size: 1.6rem;
}

.pagination-item__link--active{
    background-color: #ee4d2d;
    color: var(--white-color);
    border-radius: 3px;
}





















